.bin/*
*.metadata*
.metadata/*
.metadata/.log
.metadata/.plugins/*
*.classpath*

.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml

.metadata/.plugins/org.eclipse.jdt.core/3249670668.index
