logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID

.bin/*
.metadata/*
.metadata/.plugins/*
*.classpath*

.metadata/.log
*.classpath/*

*.gen
*.prefs

/*.prefs

.metadata/*
*.dat

*.prefs

*.prefs

.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
